.form {
    width: 100%;
    background-color: ghostwhite;
    height: 50px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    padding: 50px;


}

.form-0 {
    width: 100%;
    background-color: ghostwhite;
    height: 40px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding: 50px;

}


.form-color {
    background-color: ghostwhite;
}

/*################################################*/
.open-button {
    background-color: blue;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    border-radius: 8px;
    height: 450px;
    overflow: auto;

}


/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: #cbcbcb;
}


/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: white;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: greenyellow;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: #0063B1;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

/* ##################################################################### */

.popup__wrapper {
    background: rgba(0, 0, 0, .75);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    overflow: auto;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.popup__container {
    background: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin: 100px auto;
    max-width: 100%;
    padding: 20px;
    width: 500px;

}

#close {
    float: right;
    margin-top: -2px;
    transition: all .2s;
    font-size: 23px;
    font-weight: 700;
    text-decoration: none;
    color: #d3d3d3;
}

/* ######################################################################## */

.collapse.show {
    display: block;
}

*, ::after, ::before {
    box-sizing: border-box;
}


.ing {
    color: #0063B1;
}

.team {
    background-color: whitesmoke;
    border: 1px solid #0063B1;
}

.team-member {
    margin-right: 10px;
    margin-left: 10px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

h1, h2, h3, h4 {
    font-family: Roboto, sans-serif;
}


.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #0063B1;
    bottom: 0;
    left: calc(50% - 25px);
}

*, ::after, ::before {
    box-sizing: border-box;
}

@media screen and (max-width: 992px) {
    .footer-contact {
        width: 100% !important;
        padding: 20px;
    }
}


.testimonial-item {
    box-sizing: content-box;
    padding: 40px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .8);
    position: relative;
    background: #fff;
    height: initial;
}

.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px;
}

